# --------------------------------------------------
# IDE specific
# --------------------------------------------------
.vscode/
.idea/

# --------------------------------------------------
# Build artifacts
# --------------------------------------------------
dist/

# --------------------------------------------------
# Dependency directories
# --------------------------------------------------
node_modules/

# --------------------------------------------------
# Environments
# --------------------------------------------------
.env

# --------------------------------------------------
# Upload Directory
# --------------------------------------------------
uploads/
